.post {
  margin: 10px 0px;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  justify-content: space-between;
}

.post__header > h1 {
  flex: 4;
}

.post__categories {
  margin: 5px 0px;
}

.post__categories__button {
  margin-right: 8px !important;
  font-size: 10px !important;
  padding: 2px 5px !important;
}
.post__buttons {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.post__description {
  margin-top: 10px;
}
