.app {
  min-height: 100vh;
}
.container {
  width: 80%;
  margin: 20px auto;
}

.cont {
  display: flex;
  flex-direction: column;
}

.cont__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cont__head__title {
  display: flex;
  align-items: center;
}

.cont__head__title > a {
  margin-left: 10px;
  color: black;
  font-size: 33px;
  /* text-decoration: none; */
}

.cont__head__title > a:hover {
  color: red;
}

.categories__header > h1 {
  margin-bottom: 25px;
}

.create {
  margin-top: 25px !important;
}
